Repository ahinko/simple-pg-backup, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/docker, area/script

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/docs:
  - "docs/**/*"
  - "README.md"
area/docker:
  - "Dockerfile"
area/script:
  - "run.sh"

Rename file
  .github/labeler.yml
Labels: area/ci

Add hado lint config
  .github/lint/.hadolint.yaml
  .github/workflows/megalinter.yaml
Labels: area/ci

rename folder
  .github/linters/.hadolint.yaml
  .github/linters/.markdownlint.yaml
  .github/linters/.prettierrc.yaml
  .github/linters/.yamllint.yaml
Labels: area/ci

Add curl
  Dockerfile
Labels: area/docker

Update readme
  README.md
Labels: area/docs

Update readme
  README.md
Labels: area/docs

Support postgresql v15
  .github/renovate.json5
  Dockerfile
Labels: area/ci, area/docker

Update labels
  .github/labels.yaml
Labels: area/ci

Automatic releases
  .github/renovate.json5
  .github/workflows/auto-release.yaml
Labels: area/ci

Add github action for testing docker build
  .github/workflows/dockerfile-test.yaml
  .github/workflows/megalinter.yaml
Labels: area/ci

Change docker build test strategy
  .github/workflows/dockerfile-test.yaml
Labels: area/ci

Build and publish docker image after "auto release"
  .github/workflows/publish-release.yaml
Labels: area/ci

Docker build test
  .github/workflows/dockerfile-test.yaml
Labels: area/ci

Docker build test
  .github/workflows/dockerfile-test.yaml
Labels: area/ci

Rename docker build test
  .github/workflows/docker-build-test.yaml
Labels: area/ci

Remove auto release
  .github/workflows/auto-release.yaml
  .github/workflows/publish-release.yaml
Labels: area/ci

Add auto-releaser
  .github/workflows/auto-releaser.yaml
Labels: area/ci

Delete unused Github Workflow
  .github/workflows/publish-release.yaml
Labels: area/ci

Switch repo for upstream Alpine
  .gitignore
  Dockerfile
Labels: area/docker

Fix typo in readme
  README.md
Labels: area/docs

Only run auto releaser when Dockerfile or script has been updated
  .github/workflows/auto-releaser.yaml
Labels: area/ci

Bugfix: copy needed libs
  Dockerfile
Labels: area/docker

Update readme
  README.md
Labels: area/docs

Update readme (#94)
  README.md
Labels: area/docs

Add missing packages
  Dockerfile
Labels: area/docker

Add missing packages (#95)
  Dockerfile
Labels: area/docker

Fix labeler config
  .github/labeler.yml
Labels: area/ci

feat(pre-commit): upgrade
  .pre-commit-config.yaml
Labels: none

feat(ci): add docker build on manual release
  .github/workflows/build-on-manual-release.yaml
Labels: area/ci

feat: Add variables for compression and verifying compression.
  README.md
  run.sh
Labels: area/docs, area/script

fix: updated readme with more information about compression verification
  README.md
Labels: area/docs

fix: include file extension on uploaded file
  run.sh
Labels: area/script

fix: backup first, compress after
  run.sh
Labels: area/script

fix: update renovate config
  .github/renovate.json
Labels: area/ci

fix update release workflow
  .github/workflows/auto-releaser.yaml
Labels: area/ci

fix update renovate config
  .github/renovate.json
Labels: area/ci

fix: update release workflows
  .github/workflows/auto-releaser.yaml
  .github/workflows/build-on-manual-release.yaml
Labels: area/ci

fix lint warning
  .github/workflows/auto-releaser.yaml
Labels: area/ci
