Repository ahinko/simple-pg-backup, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/docs, area/docker, area/script

feat(pre-commit): upgrade
  .pre-commit-config.yaml
Labels: none

feat(ci): add docker build on manual release
  .github/workflows/build-on-manual-release.yaml
Labels: area/ci

feat: Add variables for compression and verifying compression.
  README.md
  run.sh
Labels: area/docs, area/script

fix: updated readme with more information about compression verification
  README.md
Labels: area/docs

fix: include file extension on uploaded file
  run.sh
Labels: area/script

fix: backup first, compress after
  run.sh
Labels: area/script

fix: update renovate config
  .github/renovate.json
Labels: area/ci

fix update release workflow
  .github/workflows/auto-releaser.yaml
Labels: area/ci

fix update renovate config
  .github/renovate.json
Labels: area/ci

fix: update release workflows
  .github/workflows/auto-releaser.yaml
  .github/workflows/build-on-manual-release.yaml
Labels: area/ci

fix lint warning
  .github/workflows/auto-releaser.yaml
Labels: area/ci

.github/labeler.yml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "README.md"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "Dockerfile"
area/script:
  - changed-files:
      - any-glob-to-any-file: "run.sh"
